<!DOCTYPE html>
<html lang="en">

<head>
    <title>Product Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>


<header>

    <nav>
        <div class="navbar">
            <a href="/Register/Index">
                <img class="logoeye" src="/logo/monster-logo.svg" />
            </a>
            <ul>
                <li><a href="/Category/Index">Kategoriler</a></li>
                <li><a href="/Product/Index">Ürünler</a></li>
                <li><a href="/Brand/Index">Markalar</a></li>
            </ul>
        </div>
    </nav>
</header>

<body>
    @RenderBody()
</body>



</html>

    <footer>
    <div class="footer-content">
        <h3>Hakkımızda</h3>
        <p>
            Vizyonnumuz: Oyunun gücü ile dünyayı daha mutlu ve yaşanabilir hale getirmek.
            <br />
            Misyonumuz: Oyuncuların oyuna konsantre olabilmeleri / kendilerini fark edebilmeleri için sürekli olarak kendimizi yeniden keşfediyor ve geleneksel yöntemleri yıkıyoruz...
        </p>
        <p> © @DateTime.Now.Year Tüm Hakları Saklıdır | Oluşturan
            <a target="_blank" href="https://tr.linkedin.com/in/yurdakulmehmet">Mehmet Yurdakul</a>
        </p>
    </div>

</footer>