@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CoreLayer.Models.User

  <link rel="stylesheet" href="/css/Register.css">

<form action="post">
  <h2>Kayıt Ol</h2>
  <br />
  <div class="input-container">
    <input class="input-field" type="text" placeholder="Kullanıcı Adı-Soyadı" name="Username">
  </div>

  <div class="input-container">
    <input class="input-field" type="text" placeholder="E-Mail" name="Mail">
  </div>

  <div class="input-container">
    <input class="input-field" type="password" placeholder="Şifre" name="Pasword">
  </div>

  <button type="submit" class="btn">Kayıt Ol</button>
</form>

<br />
<br />
<br />
<br />